.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 12vh;
}

.nav__power {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.nav {
		justify-content: space-between;
	}
}
